{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}  Log in  {% endblock %}

{% block css_block %}
<style>
  .login{
    width: 550px;
    border: 1px solid #eee;
    padding: 30px;
  }

</style>

{% endblock %}

{% block body_block %}
<center>
  <div class = "jumbotron login" style="background-color: grey;color:white;text-align: center;">
  <h2>Log-In</h2>



<form method ="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form|crispy}}
  <br>
<p><input type="submit"  class = "btn btn-success" value="Log-in"></p>
</form>

</div>
</center>
<center>
<div class="container">
  <emp>Don't have an account, <a href = "{% url 'signup' %}">Sign up</a> here.<emp>

</div>

</center>

{% endblock %}
